html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Calistoga', cursive;
    margin: 0;
}

/*Site header*/
.site__title {
    width: 100%;
    background: url("../img/email-pattern.png");
    padding: 1rem 0;
    border-bottom: 1px solid #eeeeee;
}

.site__title h1 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

/*Blogpost*/
.container {
    width: 70%;
    max-width: 1200px;
    margin: 3rem auto;
}

.blogpost {
    display: flex;
    padding: 2rem;
    /*width: 60%;*/
}

/*.blogpost:nth-child(even) {*/
/*    margin-left: 20%;*/
/*}*/

.blogpost:nth-child(odd) .blogpost__img{
    display: none;
}

.blogpost__img {
    background-color: black;
    width: 20px;
    margin-right: 5rem;
}

.blogpost + .blogpost {
    border-top: 1px solid #dddddd;
}

.blogpost .blogpost__title {
    font-size: 2.4rem;
}

.blogpost .blogpost__post-date {
    font-size: 0.8rem;
    color: #555;
    display: inline-block;
    border-bottom: 1px solid #555;
    padding: 0 0 .2rem 0;
    margin-bottom: .5rem;
}

.blogpost .blogpost__author {}
.blogpost .blogpost__content {
    margin: 1rem 0 0 0;
    font-size: 1rem;
}

/*Buttons*/
.btn__wrapper{
    margin-top: 1rem;
}

.btn {
    padding: .5rem .75rem;
    color: #eeeeee;
    background-color: #000000;
    display: inline-block;
    text-decoration: none;
    font-family: 'Calistoga', cursive;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s;
}

.btn:hover {
    box-shadow: 0 .25rem .25rem rgba(0,0,0,.4);
    transform: translateY(-1px);
}

.btn.btn--blue {
    background-color: dodgerblue;
}

.btn.btn--fixed {
    position: fixed;
    left: 0;
    top: 250px;
    padding-left: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-transform: uppercase;
    z-index: 1;
    cursor: pointer;
}

/* Forms */
.input {
    padding: 0 2rem;
    display: flex;
}

.input + .input {
    margin-top: .5rem;
}

.text__label {
    width: 100%;
}

textarea {
    width: 500px;
    height: 250px;
    font-family: 'Lato', sans-serif;
}

.form__wrapper.form-active {
    transform: translateX(-50%);
}

.form__wrapper {
    background-color: #eeeeee;
    position: fixed;
    top: 150px;
    transform: translateX(200%);
    transition: transform 1s;
    left: 50%;
    z-index: 1;
}

.form__shade {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity 1s;
    z-index: 0;
}

.form__shade--active {
    opacity: 1;
}

/*Errors*/

.error {
    background-color: lightcoral;
    padding: .25rem;
}

.error .error__text {
    color: red;
    width: 100%;
}



